<!-- prettier-ignore -->
{% extends 'base.html' %} {% block title %} Scrumptious Recipes - Add Recipe {% endblock title %}
{% block content %}
<header>
  <nav>
    <a href="{% url 'recipe_list' %}">Main page</a>
  </nav>
</header>
<main class="container">
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button>Create</button>
  </form>
</main>
{% endblock content %}
