<!-- prettier-ignore -->
{% extends 'base.html' %} {% block title %} {{ recipe_object.title }} - Scrumptious Recipes {% endblock title %}
{% block content %}
<header>
  <nav>
    <a href="{% url 'recipe_list' %}">Main page</a>
    <a href="{% url 'edit_recipe' recipe_object.id %}">Edit Recipe</a>
    <a href="{% url 'delete_recipe' recipe_object.id%}">Delete Recipe</a>
  </nav>
</header>
<main class="container">
  <h1>{{ recipe_object.title }}</h1>
  <img
    src="{{ recipe_object.picture | default:'https://media.istockphoto.com/id/694189032/photo/hand-held-bbq-favorites.jpg?b=1&s=612x612&w=0&k=20&c=m5FLkm3dBZR12j3vxT6Vs5joBNOYyE2jcAl4vadb6Zc=' }}"
  />
  <div>{{ recipe_object.rating }} stars</div>
  <p>{{ recipe_object.description }}</p>
  <h2>Ingredients</h2>
  <table class="ingredients-table">
    <thead>
      <tr>
        <th>Amount</th>
        <th>Food item</th>
      </tr>
    </thead>
    <tbody>
      {% for ingredient in recipe_object.ingredients.all %}
      <tr>
        <td>{{ ingredient.amount }}</td>
        <td>{{ ingredient.food_item }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h2>Steps</h2>
  <ol>
    {% for step in recipe_object.steps.all %}
    <li>{{ step.instruction }}</li>
    {% endfor %}
  </ol>
</main>
{% endblock content %}
