<!-- prettier-ignore -->
{% extends 'base.html' %} {% block title %} Scrumptious Recipes {% endblock title %}
{% block content %}
<header>
  <nav>
    <a href="{% url 'recipe_list' %}">Main page</a>
    {% if user.is_authenticated %}
    <a href="{% url 'my_recipe_list' %}">My Recipes</a>

    <a href="{% url 'create_recipe' %}">Add recipe</a>
    <a href="{% url 'user_logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'signup' %}">Sign up</a>
    <a href="{% url 'user_login' %}">Login</a>
    {% endif %}
  </nav>
</header>
<main class="container">
  <h1>Scrumptious Recipes</h1>
  {% if user.is_authenticated %}
  <h2>Hello, {{ user.first_name }}</h2>
  {% endif %}
  <h2>All the food that's fit to eat</h2>
  <div class="recipe-grid">
    {% for recipe in recipe_list %}
    <div>
      <h3>
        <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
      </h3>
      <p>Created on: {{ recipe.created_on | date:'F j, Y'}}</p>
      <img
        src='{{ recipe.picture | default:"https://media.istockphoto.com/id/694189032/photo/hand-held-bbq-favorites.jpg?b=1&s=612x612&w=0&k=20&c=m5FLkm3dBZR12j3vxT6Vs5joBNOYyE2jcAl4vadb6Zc="  }}'
      />
      <div>{{ recipe.rating }} stars</div>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock content %}
