{% extends 'base.html' %}
<!-- prettier-ignore -->
{% block css %} {% endblock css%}
{% block title %} Login! - Scrumptious Recipes
{% endblock title %}
{% block content %}
<header>
  <nav>
    <a href="{% url 'recipe_list' %}">Main page</a>
  </nav>
</header>
<main class="container">
  <h1>Login!</h1>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button>Submit</button>
  </form>
</main>
{% endblock content %}
