@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f0f0f0;
}

/* Container for the content */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
nav {
  background-color: #1a237e;
  border-bottom: 1px solid #283593;
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  color: #f9a825;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffb300;
}

h1 {
  color: #1a237e;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  align-items: center;
}

img {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.ingredients-table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

footer {
  padding: 2rem 0;
  background-color: #1a237e;
  color: #ffffff;
  text-align: center;
}
main a {
  color: #f9a825;
  text-decoration: none;
}

main a:hover {
  color: #ffb300;
}
